<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Affordable and proffessional web design">
        <meta name="keywords" content="web design, affordable web design">
        <meta name="Author" content="Bonifase Orwa">
        <title>My Diaries| Welcome</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <section id="showcase">
            <div class="container">
                <h1>Managing Your Diaries for You</h1>
                <p>This is where we start. Manage your diaries effortlessly</p>
                 <% if signed_in? %>
                <button type="submit" class="button_1"><%= link_to 'My Diary', diaries_path %></button>
               <% else %>
                <button type="submit" class="button_1"> <%= link_to 'Get Started', sign_in_path, class: "button_1" %></button>
               <% end %>
               
            </div>
        </section>

        <section id="newsletter">
            <div class="container">
                <h1>Subscribe To Our Newsletter</h1>
                <form action="">
                    <input type="email" placeholder="Enter Email...">
                    <button type="submit" class="button_1">Subscribe</button>
                </form>
            </div>
        </section>

        <section id="boxes">
            <div class="container">
                <div class="box">
                    <h3>Weekly Plan</h3>
                    <p>Manange Weekly Plan</p>
                </div>
                <div class="box">
                    <h3>Activities</h3>
                    <p>Keep track of your activities</p>
                </div>
                <div class="box">

                    <h3>Pending Items</h3>
                    <p>Keep track of pending activities</p>
                </div>
            </div>
        </section>

       
    </body>
</html>